
/* -------------------------------------- About Section ------------------------------------ */
main > section {
  padding-top: 2rem;
  padding-bottom: 3.9375rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: auto;
}
@media screen and (min-width: 1060px) {
  main> section:nth-child(2n) >.sectionContainer> .sectionDetails{
    padding-left: 5rem !important;
  }
}
section:nth-child(2n + 1) {
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.sectionContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
}
.sectionImage {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.sectionImage > img {
  overflow: hidden;
  border-radius: 10px;
}
.sectionDetails {
  padding: 2rem;
}
.sectionDetails > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.4375rem;
}
.sectionDetails > h3 {
  margin-bottom: 1.4rem;
}
.sectionDetails > p {
  line-height: 1.5rem;
}
/* -------------------------------- Membership section styles --------------------------- */
.membership {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}
.membership > h2 {
  font-size: 2.5rem;
  margin-top: 3.4rem;
  margin-bottom: 5.1875rem;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: space-around;
 
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 234px;
  margin: auto;
}
.card > h3 {
  margin: 1.4rem 0;
}
.card > p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.005em;
}
/* -------------------------------- News Section styles --------------------------- */
.news{
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.news > h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 3.4rem;
  margin-bottom: 5.1875rem;
}

.newsCard{
  
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
border-radius: 5px;
overflow: hidden;
max-width: 262px;
padding: 0;
}
.newsCard > p{
  line-height: 1.75;
  letter-spacing: 0.005em;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  padding: 10px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-right: 1.4rem;
}
/* -------------------------------- Contact Section styles are below --------------------------- */
.contact{
  padding-top: 2.125rem;
  padding-bottom: 3.125rem;
  max-width: 800px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid #ebebeb;
margin-top: 4rem;
margin-bottom: 2rem;
}
.contact > h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.formInput{
  /* color: #222222; */
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #ebebeb;

  transition: all 0.15s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
.formInput:focus{
  border: 2px solid #1976d2;
}
textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  resize:vertical;
}

/* -------------------------------- Media Queries for Index.html Page --------------------------- */

@media screen and (min-width: 1200px) {
  .sectionDetails {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2rem;
  }
  .sectionDetails > p {
    max-width: 500px;
    line-height: 1.8;
  }
}
@media screen and (max-width: 1369px) {
  main > section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .membership {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .sectionDetails {
    padding: 1rem;
    padding-top: 0rem;
  }
  .sectionDetails > p {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .sectionDetails > h2 {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1.4375rem;
  }
}
/* -------------------------------- Globe section Media queries --------------------------- */

@media screen and (min-width: 768px) and (max-width: 860px) {
  .globeSectionHeading {
    font-size: 1.6rem !important;
    margin-bottom: 1.235rem;
  }
  .meetingSectionHeading {
    font-size: 1.8rem !important;
    margin-bottom: 1.235rem !important;
  }

}
@media screen and (max-width: 768px) {
  .sectionDetails {
    padding: 0;
    padding-right: 10px;
    padding-left: 15px;
  }
  .sectionDetails > h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .sectionDetails > p {
    font-size: 12px;
    line-height: 1.2rem;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
 
}
@media screen and (max-width: 576px) {
  main > section {
    padding: 0;
    padding-bottom: 1.3rem;
    max-width: 360px;
    padding-top: 1rem;

  }
  .sectionContainer {
    grid-template-columns: 100%;
  }
  .sectionDetails {
    order: 2;
    text-align: center;
  }

  .sectionDetails > h2 {
    margin-top: 1.2rem;
  }
  .sectionDetails > p {
    max-width: 360px;
    margin: auto;
    line-height: 1.875;
  }
  .sectionImage {
    border-radius: 10px;
    max-height: 360px;
    overflow: hidden;
    order: 1;
  }
  .membership > h2 {
    font-size: 1.8rem;
    margin-top: 2.4rem;
    margin-bottom: 3.1875rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }
  form{
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: auto;
  }
  textarea {
    grid-column-start: 1;
    grid-column-end: 2;
    resize:vertical;
  }
  
  .contact{
    padding-bottom: 1.125rem;
    border-bottom: 1px solid #ebebeb;
  }
  .contactBtn{
  margin: auto;
  margin-top: 2rem;
  }
}
